@tailwind base;
@tailwind components;
@tailwind utilities;


.flex > .h-6{
    position: relative;
    top: 10px;
}

.fa{
    height: 10px;
}

.search-input{
    height: 33px;
}
.search-btn{
    height: 33px;
}